.app {
    text-align: center;
}

.content {
    min-height: calc(100vh - 50px);
    padding-bottom: 20px;
}

.full-screen-arrow-button-left {
    position: fixed;
    top: 40%;
    left: 20px;
    font-size: 50px;
    color: black;
}

.full-screen-arrow-button-right {
    position: fixed;
    top: 40%;
    right: 20px;
    font-size: 50px;
    color: black;
}

.full-screen-arrow-button-left:hover {
    color: #40a9ff;
    transition: color 0.3s;
}

.full-screen-arrow-button-right:hover {
    color: #40a9ff;
    transition: color 0.3s;
}

.test-title {
    font-size: 40px;
    padding-top: 20px;
}

.test-desc {
    font-size: 24px;
}

.test-column {
    font-size: 20px;
}

.code-container {
    text-align: left;
    white-space: pre-wrap;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
    background-color: white;
    border: 1px solid gray;
    padding: 10px;
    font-size: 16px;
}

.ant-space-item > .ant-btn-primary:active {
    opacity: 0.5;
    cursor: default;
    color: #fff;
    background: #1890ff;
    border-color: #1890ff;
}

.ant-row > .ant-col {
    padding: 8px;
}

.footer-div {
    bottom: 0;
    right: 0;
    left: 0;
    height: 50px;
    text-align: center;
    font-size: 16px;
    padding-top: 0.5%;
    border-top: 1px solid #bebebe;
    background-color: #dbdddf;
    box-shadow:0 1px 2px 0 rgba(0,0,0,.1);
}